*{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
body{
  background-color: #efefef;
  color: #333;
}
.icon {
  width: 1em; 
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* topNavBar */
.topNavBar{
  padding: 24px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #b7b7b7;
}
.topNavBar.sticky{
  background: white;
  padding: 12px 0;
  color: #3d4451;
  transition: all .4s;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  z-index: 1;
}
.topNavBar .logo{
  float: left;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  font-size: 24px;
  padding-left: 50px;
}
.topNavBar .logo .rs{
  color: #e6686a;
  margin-right: 5px;
}
.topNavBar .logo .card{
  color: #9A9DA2;
}
.topNavBar .nav{
  float: right;
  margin-right: 34px;
}
.topNavBar .nav>li{
  float: left;
  margin: 0 16px;
  position: relative;
}
.topNavBar .nav>li a{
  font-size: 14px;
  font-weight: bold;
  color: inherit;
  padding: 5px 0;
  display: block;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  position: relative;
}
.topNavBar .nav>li.active > a::before{
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #E6686A;
  position: absolute;
  top: 100%;
  left: 0;
  animation: leftToRight .3s;
}
@keyframes leftToRight{
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}
.topNavBar .nav>li .submenu{
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  color: #3d4451;
  font-size: 14px;
  padding: 0 30px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.topNavBar .nav>li.active .submenu{
  display: block;
  animation: submenuSlide .3s;
}
@keyframes submenuSlide{
  0%{
    margin-right: 100%;
  }
  100%{
    margin-right: 0;
  }
}
.topNavBar .submenu li{
  white-space: nowrap;
  margin-top: 15px;
  cursor: pointer;
}
.topNavBar .submenu li:hover{
  color: #E6686A;
}

/* banner */
.banner{
  height: 515px;
  background: url(./images/rs-cover.jpg) center;
  background-size: cover;
}
.banner .mask{
  height: 515px;
  background: rgba(0, 0, 0, 0.8);
}

/* userCard */
.userCard{
  max-width: 940px;
  background: white;
  margin: 0 auto;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
  margin-top: -340px;
}
.userCard .pictureAndText{
  padding: 50px;
}
.userCard .picture{
  float: left;
  margin-right: 65px;
}
.userCard .text{
  float: left;
  width: 470px;
}
.userCard .welcome{
  padding: 4px 15px;
  background: #e6686a;
  line-height: 22px;
  color: white;
  position: relative;
}
.userCard .welcome .triangle{
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #e6686a;
  border-top-width: 0;
  position: absolute;
  left: 5px;
  top: 100%;
}
.userCard .text h1{
  margin: 24px 0 8px 0;
}
.userCard .text hr{
  margin: 20px 0;
  height: 0;
  border: none;
  border-top: 1px solid #dedede;
}
.userCard dl dt,
.userCard dl dd{
  float: left;
  padding-bottom: 12px;
}
.userCard dl dt{
  width: 30%;
  font-weight: bold;
}
.userCard dl dd{
  width: 70%;
  color: #9da0a7;
}
.userCard .media{
  background: #e6686a;
  text-align: center;
}
.userCard .media a{
  display: inline-block;
  width: 36px;
  line-height: 30px;
  padding: 3px 0;
  border-radius: 50%;
  margin: 15px;
}
.userCard .media svg{
  width: 1.8em;
  height: 1.8em;
  fill: white;
  vertical-align: top;
}
.userCard .media a:hover{
  background: #cf5d5f;
}
main .download-wrapper{
  text-align: center;
}
main .download-wrapper .downloadResume{
  font-size: 14px;
  font-weight: bold;
  color: #3d4451;
  line-height: 19px;
  padding: 20px 55px;
  border: 1px solid #cdcfd1;
  display: inline-block;
  margin: 32px 0;
  border-radius: 3px;
  transition: all 0.3s;
}
main .downloadResume:hover{
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}
main .introduce{
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.8;
  font-size: 18px;
}

/* skill */
section.skill,
section.showreel{
  max-width: 940px;
  margin: 60px auto;
}
section.skill h2,
section.showreel h2{
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
}
section.skill ol{
  background: white;
  padding: 42px 50px 10px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
  margin-top: 30px;
}
section.skill ol li{
  float: left;
  width: 48%;
  margin: 0 0 30px 0;

}
section.skill ol li:nth-child(even){
  float: right;
}
section.skill ol li h3{
  font-weight: normal;
  font-size: 14px;
  line-height: 1.1;
}
section.skill .progressBar{
  height: 5px;
  background: #FAE1E1;
  border-radius: 5px;
  margin-top: 6px;
}
section.skill .progress{
  height: 100%;
  background: #E6686A;
  width: 60%;
  border-radius: 5px;
}

/* showreel */
section.showreel{
  text-align: center;
  margin-bottom: 300px;
}
section.showreel nav{
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
}
section.showreel ol{
  display: inline-block;
  vertical-align: top;
}
section.showreel ol li{
  float: left;
  cursor: pointer;
}
section.showreel ol li:nth-child(2){
  margin: 0 60px;
}
section.showreel nav .bar{
  height: 5px;
  border-radius: 5px;
  background: white;
  margin: 8px 0 25px 0;
}

section.showreel .bar-inner{
  height: 100%;
  width: 64px;
  background: #E6686A;
  border-radius: 5px;
  transition: all 0.5s;
}
section.showreel .state-2 .bar-inner{
  margin-left: 124px;
}
section.showreel .state-3 .bar-inner{
  margin-left: 248px;
}
section.showreel .works{
  position: relative;
  height: 597px;
}
section.showreel .works .big,
section.showreel .works .small{
  position: absolute;
}